@model PlayerModel
@{
    ViewData["Title"] = "Сохранить игрока";
}

<h2>Сохранить игрока</h2>

<form asp-controller="Player" asp-action="Create" method="post" asp-antiforgery="true">
    <div>
        <label>Имя:</label>
        <div>
            <input asp-for="player.Name" class="form-control" />
            <span asp-validation-for="player.Name" class="text-danger" />
        </div>
        <label>Фамилия:</label>
        <div>
            <input asp-for="player.Surname" class="form-control" />
            <span asp-validation-for="player.Surname" class="text-danger" />
        </div>
        <label>Пол:</label>
        <div>
            <select asp-for="player.Sex" class="form-control">
                <option></option>
                <option value="М">М</option>
                <option value="Ж">Ж</option>
            </select>
            <span asp-validation-for="player.Sex" class="text-danger" />
        </div>
        <label>Дата рождения:</label>
        <div>
            <input asp-for="player.Date" type="date" class="form-control" />
            <span asp-validation-for="player.Date" class="text-danger" />
        </div>
        <label>Название команды:</label>
        <div>
            <input asp-for="player.Team" type="text" class="form-control" list="count" />
            <datalist id="count" name="count">
                @foreach (Team team in Model.teams)
                {
                    <option value="@team.Name">@team.Name</option>}
            </datalist>
            <span asp-validation-for="player.Team" class="text-danger" />
        </div>
        <label>Страна:</label>
        <div>
            <select asp-for="player.Country" class="form-control">
                <option></option>
                @foreach (Country country in Model.countries)
                {
                    <option value="@country.Name">@country.Name</option>}
            </select>
            <span asp-validation-for="player.Country" class="text-danger" />
        </div>
        <div>
            <input class="btn-success" type="submit" value="Сохранить" />
        </div>
    </div>
</form>

